.container {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(247, 138, 3, 1) 0%,
    rgba(255, 83, 4, 1) 100%
  );
  padding: 30px;
  font-family: var(--montserrat);
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: disc;
}

.instructions {
  width: 60%;
  background-color: var(--white);
  margin: auto;
  padding: var(--lg);
  color: var(--text-color);
  border-radius: 10px;
  line-height: 2;
}

h1 {
  text-align: center;
  font-size: var(--md);
  font-family: var(--lobster);
}

p {
  font-size: var(--sm);
  font-weight: 500;
  font-family: var(--lobster);
  text-align: center;
}

.browser-default {
  padding-left: 30px;
  margin-top: 10px;
}

.link-section {
  margin-top: var(--md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

a {
  color: var(--blue);
}

.play-btn {
  color: var(--white);
  background-color: var(--orange);
}

img {
  width: 90%;
}

@media (max-width: 768px) {
  .instructions {
    width: 80%;
    font-size: var(--xs);
  }
}
@media (max-width: 585px) {
  .instructions {
    width: 90%;
  }
  h1 {
    font-size: var(--sm);
  }

  p {
    font-size: var(--normal);
  }
}

@media (max-width: 400px) {
  .browser-default {
    padding-left: 10px;
  }

  .btn {
    padding: 10px;
  }
}
